#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Line_9 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Line_9 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}