#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28e6eb4e-03de-48ae-a035-9d2983dc976d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}