#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 321px;
  height: 589px;
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Label_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0088CC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0088CC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0088CC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0088CC;
  border-radius: 16px 16px 16px 16px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 23px;
  width: 296px;
  height: 111px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 116px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 31px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 31px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 49px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 81px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 272px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 169px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-3727a818-7ca7-4e2e-b402-cf3066de0c83 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}