#s-37b3613f-ee8b-4e35-a290-ef03b58de91e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-37b3613f-ee8b-4e35-a290-ef03b58de91e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-37b3613f-ee8b-4e35-a290-ef03b58de91e #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 108px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-37b3613f-ee8b-4e35-a290-ef03b58de91e #s-Loading {
  -ms-transform: rotate(0.0deg);
}
#s-37b3613f-ee8b-4e35-a290-ef03b58de91e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}