#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Button_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40ff5095-5160-43a4-b917-2de13e9a0943 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}