#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Input-text INPUT {
  font-family: Arial;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Input-text_1 INPUT {
  font-family: Arial;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4c26bf6-ddde-49c5-b9db-ad7745266b87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}