#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 508px;
  height: 386px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 306px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}