#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Table_1 {
  border-collapse: separate;
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Text_cell_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Text_cell_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Text_cell_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 105px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 199px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Table_2 {
  border-collapse: separate;
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Text_cell_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Text_cell_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 #s-Text_cell_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-d2fc72ee-e76a-4d7e-b822-0af11de83995 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}